{% load static %}

<nav id="sidebar" class="sidebar js-sidebar">

    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="https://wa.me/905304517888?text=Merhaba, Aktivasyoncu.com için destek istiyorum."
           target="_blank">
            <span class="align-middle">Destek 0530 451 78 88</span>
        </a>


        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Hat Aktivasyonları
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'panel' %}">
                    <i class="align-middle" data-feather="sliders"></i> <span
                        class="align-middle me-2">Panel - Duyuru</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'kontorlu-yeni-hat' %}">
                    <i class="align-middle" data-feather="user"></i> <span
                        class="align-middle">Kontörlü Yeni Hat</span>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'mnt' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">MNT</span>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'faturali-yeni-hat' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Yeni Faturalı Hat</span>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'sekebe-ici-gecis' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Şebekeiçi Geçiş</span>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'evrak-gir-pass' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Passaport Kontörlü Yeni Hat</span>
                </a>
            </li>

            <li class="sidebar-header">
                ADSL Aktivasyonları
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'internet-basvuru' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">internet Başvuru</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'alt-yapi-sorgula' %}">
                    <i class="align-middle" data-feather="user"></i> <span
                        class="align-middle">Alt Yapı Sorgulama</span>
                </a>
            </li>


            <li class="sidebar-header">
                Kontör Yükleme
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="https://www.hataykontor.com" target="_blank">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">7/24 Kontör Yükle</span>
                </a>
            </li>


            <li class="sidebar-header">
                Evrak Takip
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'takip' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Aktivasyon Takip</span>
                </a>
            </li>


            <li class="sidebar-header">
                Ödeme Takip
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'bakiyetakip' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Ödeme Hareketleri</span>
                </a>
            </li>

        </ul>


    </div>
</nav>