{% load static %}
<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item">
                <img src="{% static 'panel/img/avatars/avatar.jpg' %}" class="avatar img-fluid rounded me-1"
                     alt="Charles Hall"/>
                <span class="text-dark">{{ user.first_name }} {{ user.last_name }}</span>
            </li>
            <li class="nav-item" style="margin-left: 10px;">
                <a href="{% url 'logout' %}" class="btn btn-sm btn-danger" style="border-radius: 20px;">Çıkış yap</a>
            </li>


        </ul>
    </div>
</nav>
