{% extends 'base.html' %}
{% load static %}


<!-- MNT System-->

{% block content %}
    <h1>Bakiye Hareketleri</h1>
    <table class="table">
        <thead>
            <tr>
                <th>İşlem Tutarı</th>
                <th>Önceki Bakiye</th>
                <th>Sonraki Bakiye</th>
                <th>Önceki Borç</th>
                <th>Sonraki Borç</th>
                <th>Tarih</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody>
            {% for hareket in page_obj %}
                <tr>
                    <td>{{ hareket.islem_tutari }}</td>
                    <td>{{ hareket.onceki_bakiye }}</td>
                    <td>{{ hareket.sonraki_bakiye }}</td>
                    <td>{{ hareket.onceki_Borc }}</td>
                    <td>{{ hareket.sonraki_Borc }}</td>
                    <td>{{ hareket.tarih }}</td>
                    <td>{{ hareket.aciklama }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="7">Bakiye hareketi bulunamadı.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">önceki</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">sonraki</a>
        {% endif %}
    </div>
{% endblock %}
