{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- main icerik-->
    <div class="container mt-5">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-6">
                <div class="card text-white bg-danger" style="max-width: 18rem;">
                    <div class="card-header">Borç</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ bayi.Borc}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card text-white bg-success" style="max-width: 18rem;">
                    <div class="card-header">Bakiye</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ bayi.Bayi_Bakiyesi}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                {% for duyuru in duyurular %}
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <h2 style="color: red; text-align: center; font-family: 'Arial', sans-serif;">{{ duyuru.baslik }}</h2>
                            <p class="card-text">{{ duyuru.icerik|safe }}</p>
                            <p class="card-text text-center">Tarih: {{ duyuru.tarih }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}

