{% extends 'base.html' %}
{% load static %}


<!-- MNT System-->

{% block content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">

    <style>
        .table td, .table th {
            text-align: center;
            vertical-align: middle;
        }

        .table tr {
            border-bottom: 1px solid #dee2e6;
        }
    </style>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning" data-model="evrak">MNT</button>
        <button type="button" class="btn btn-primary" data-model="kontorluyenihat">Kontörlü Yeni Hat</button>
        <button type="button" class="btn btn-success" data-model="faturaliyenihat">Faturalı Yeni Hat</button>
        <button type="button" class="btn btn-info" data-model="sebekeici">Şebeke İçi</button>
        <button type="button" class="btn btn-dark" data-model="internet">İnternet</button>
    </div>
    <!--
        <select id="model-select" class="form-select">
            <option value="evrak">Evrak</option>
            <option value="kontorluyenihat">Kontörlü Yeni Hat</option>
            <option value="faturaliyenihat">Faturalı Yeni Hat</option>
            <option value="sebekeici">Şebeke İçi</option>
            <option value="internet">İnternet</option>
        </select>
    -->
    <div id="evrak-table" class="model-table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">İsim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">İrtibat</th>
                <th scope="col">Prim</th>
                <th scope="col">Bayi Açıklama</th>
                <th scope="col">Aktivasyon Durumu</th>
                <th scope="col">Ödeme Durumu</th>
            </tr>
            </thead>
            <tbody>
            {% for evrak in evrak_page_obj %}
                <tr>
                    <td>{{ evrak.isim }}</td>
                    <td>{{ evrak.soyisim }}</td>
                    <td>{{ evrak.irtibat }}</td>
                    <td>{{ evrak.tutar }}</td>
                    <td>{{ evrak.BayiAciklama }}</td>
                    <td>{{ evrak.get_aktivasyon_durumu_display }}</td>
                    <td>{{ evrak.get_odeme_durumu_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="kontorluyenihat-table" class="model-table" style="display: none;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">İsim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">İrtibat</th>
                <th scope="col">Prim</th>
                <th scope="col">Bayi Açıklama</th>
                <th scope="col">Aktivasyon Durumu</th>
                <th scope="col">Ödeme Durumu</th>
            </tr>
            </thead>
            <tbody>
            {% for kontorluyenihat in kontorluyenihat_page_obj %}
                <tr>
                    <td>{{ kontorluyenihat.isim }}</td>
                    <td>{{ kontorluyenihat.soyisim }}</td>
                    <td>{{ kontorluyenihat.irtibat }}</td>
                    <td>{{ kontorluyenihat.tutar }}</td>
                    <td>{{ kontorluyenihat.BayiAciklama }}</td>
                    <td>{{ kontorluyenihat.get_aktivasyon_durumu_display }}</td>
                    <td>{{ kontorluyenihat.get_odeme_durumu_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="faturaliyenihat-table" class="model-table" style="display: none;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">İsim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">İrtibat</th>
                <th scope="col">Prim</th>
                <th scope="col">Bayi Açıklama</th>
                <th scope="col">Aktivasyon Durumu</th>
                <th scope="col">Ödeme Durumu</th>
            </tr>
            </thead>
            <tbody>
            {% for faturaliyenihat in faturaliyenihat_page_obj %}
                <tr>
                    <td>{{ faturaliyenihat.isim }}</td>
                    <td>{{ faturaliyenihat.soyisim }}</td>
                    <td>{{ faturaliyenihat.irtibat }}</td>
                    <td>{{ faturaliyenihat.tutar }}</td>
                    <td>{{ faturaliyenihat.BayiAciklama }}</td>
                    <td>{{ faturaliyenihat.get_aktivasyon_durumu_display }}</td>
                    <td>{{ faturaliyenihat.get_odeme_durumu_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="sebekeici-table" class="model-table" style="display: none;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">İsim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">İrtibat</th>
                <th scope="col">Prim</th>
                <th scope="col">Bayi Açıklama</th>
                <th scope="col">Aktivasyon Durumu</th>
                <th scope="col">Ödeme Durumu</th>
            </tr>
            </thead>
            <tbody>
            {% for sebekeici in sebekeici_page_obj %}
                <tr>
                    <td>{{ sebekeici.isim }}</td>
                    <td>{{ sebekeici.soyisim }}</td>
                    <td>{{ sebekeici.irtibat }}</td>
                    <td>{{ sebekeici.tutar }}</td>
                    <td>{{ sebekeici.BayiAciklama }}</td>
                    <td>{{ sebekeici.get_aktivasyon_durumu_display }}</td>
                    <td>{{ sebekeici.get_odeme_durumu_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="internet-table" class="model-table" style="display: none;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">İsim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">İrtibat</th>
                <th scope="col">Prim</th>
                <th scope="col">Bayi Açıklama</th>
                <th scope="col">Aktivasyon Durumu</th>
                <th scope="col">Ödeme Durumu</th>
            </tr>
            </thead>
            <tbody>
            {% for internet in internet_page_obj %}
                <tr>
                    <td>{{ internet.isim }}</td>
                    <td>{{ internet.soyisim }}</td>
                    <td>{{ internet.irtibat }}</td>
                    <td>{{ internet.tutar }}</td>
                    <td>{{ internet.BayiAciklama }}</td>
                    <td>{{ internet.get_aktivasyon_durumu_display }}</td>
                    <td>{{ internet.get_odeme_durumu_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
    <script>
        var buttons = document.querySelectorAll('button[data-model]');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var selectedModel = this.getAttribute('data-model');
                var modelTables = document.getElementsByClassName('model-table');
                for (var i = 0; i < modelTables.length; i++) {
                    modelTables[i].style.display = 'none';
                }
                document.getElementById(selectedModel + '-table').style.display = 'block';
            });
        });
    </script>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">önceki</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">sonraki</a>
        {% endif %}
    </div>

{% endblock content %}
